POSTGRES_HOST=server_database
POSTGRES_PORT=5432
POSTGRES_USER=server
POSTGRES_PASSWORD=123
POSTGRES_DB=database
TOKEN=secret
PAGE_SIZE=10
DOMAIN_NAME=http://localhost:8000
SERVICE_DOMAIN=http://private_service:8001
S3_ENDPOINT=minio:9000
S3_ACCESS_KEY=admin
S3_SECRET_KEY=password