DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=123
DB_NAME=memes_table
SECRET_KEY=secret
PAGE_SIZE=10
DOMAIN_NAME=http://localhost:8000
SERVICE_DOMAIN=http://localhost:8001
S3_ENDPOINT=localhost:9000
S3_ACCESS_KEY=admin
S3_SECRET_KEY=password