fastapi
asyncio
pydantic
pydantic_settings
psycopg2
asyncpg
sqlalchemy
sqlalchemy[asyncio]
alembic
minio
python-multipart
miniopy_async
aiohttp
httpx
pytest
anyio
pytest-asyncio
pytest-tornasync
pytest-trio
pytest-twisted